body {
  background-color: #181a1c;
}
.App {
  text-align: center;
}
.p-text,label {
  color:white;
  font-family: 'Inder', sans-serif;
  font-size: 1.25rem;
}
.card-text {
  color:#181a1c;
}

h1 {
  color:white;
  font-family: 'Chelsea Market', cursive;
  font-size: 4rem;
  background: linear-gradient(to left, red,rgb(255, 242, 0), rgb(47, 0, 255));
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  /* color:rgba(0,0,0,1); */
  display:block;
  text-align:center;
  transition: color .6s ease-in-out;
}
.wrap{width:100%;}

h1:hover{
  color:rgba(0,0,0,0);
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
.game-bg {
  background-color: white;
  margin:10px;
  padding: 10px;
}
.btnPrim {
  border: 1px solid grey;
  font-family: 'Chelsea Market', cursive;
  color: white;
  background-color:rgb(47, 0, 255);
  margin: 5px;
}
.btnPrim:hover {
  background-color:rgb(36, 11, 148) ;
}